@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}
@section menu {	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav sf-menu">
			<li class="current"><a href="/">Blog</a></li>
			<!--<li><a href="/projects">Projects</a></li>-->
			<li><a href="/categories">Categories</a></li>
			<li><a href="/archive">Archive</a></li>          
		</ul>
	</div>
}
<div class="post postcontent">
	<div class="row">
  		<div class="col-sm-8 col-sm-offset-2">
			<h1>
				@Model.Title
				<span>@Model.PostDate.ToString("dd MMM yyyy")</span>
			</h1>
			<p>
				@foreach (var category in Model.Categories) {
					<a class="btn btn-default btn-sm" href="/category/@category.Url"><i class="fa fa-tag"></i> @category.Name</a>
				}
			</p>
			@Html.RenderSeries()
				
			@Html.Raw(Model.PostContent)
		</div>
  		<div class="col-sm-4 col-sm-offset-4">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_3"></a>
				<a class="addthis_button_preferred_4"></a>
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c82b2952baabb4"></script>
			<!-- AddThis Button END -->
		</div>
	</div>
</div>
<div class="post">
	<div class="row">
  		<div class="col-sm-8 col-sm-offset-2">
			<div id="disqus_thread"></div>
		    <script type="text/javascript">
		        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		        var disqus_shortname = 'macsenblog'; // required: replace example with your forum shortname

		        /* * * DON'T EDIT BELOW THIS LINE * * */
		        (function() {
		            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
		    </script>
		    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

		    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-****"></script>
		</div>
	</div>
</div>