@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}
@section meta {
	<!-- Update your html tag to include the itemscope and itemtype attributes. -->
	<html itemscope itemtype="http://schema.org/Article">

	<!-- Place this data between the <head> tags of your website -->
	<title>Macs Dickinson - @Model.Title</title>
    <meta name="description" content="@Model.MetaDescription" />
	<!-- Google Authorship and Publisher Markup -->
 	<link rel="author" href="https://plus.google.com/u/0/+MacsDickinson/posts"/>
	<link rel="publisher" href="https://plus.google.com/u/0/+MacsDickinson"/>

	<!-- Schema.org markup for Google+ -->
 	<meta itemprop="name" content="@Model.Title">
	<meta itemprop="description" content="@Model.MetaDescription">
	@*  *@
	<meta itemprop="image" content="http://www.gravatar.com/avatar/a1c8863544a1277fb119f2ffdb5e0d4e.png">

	<!-- Twitter Card data -->
 	<meta name="twitter:card" content="http://www.gravatar.com/avatar/a1c8863544a1277fb119f2ffdb5e0d4e.png">
	<meta name="twitter:site" content="&#64;MacsDickinson">
	<meta name="twitter:title" content="@Model.Title">
	<meta name="twitter:description" content="@Model.MetaDescription">
	<meta name="twitter:creator" content="&#64;MacsDickinson">
	<!-- Twitter summary card with large image must be at least 280x150px -->
 	<meta name="twitter:image:src" content="https://pbs.twimg.com/profile_banners/183268831/1354181451/web">
	<!-- Open Graph data -->
	<meta property="og:title" content="@Model.Title" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="@Model.Url" />
	<meta property="og:image" content="http://www.gravatar.com/avatar/a1c8863544a1277fb119f2ffdb5e0d4e.png" />
	<meta property="og:description" content="@Model.MetaDescription" />
	<meta property="og:site_name" content="Macs Dickinson" />
	<meta property="article:published_time" content="@Model.PostDate" />
	<meta property="article:modified_time" content="@Model.PostDate" />
@* 	<meta property="article:section" content="Article Section" />
	<meta property="article:tag" content="Article Tag" /> *@
	@* <meta property="fb:admins" content="Facebook numberic ID" /> *@
}
@section menu {	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav sf-menu">
			<li class="current"><a href="/">Blog</a></li>
			<!--<li><a href="/projects">Projects</a></li>-->
			<li><a href="/categories">Categories</a></li>
			<li><a href="/archive">Archive</a></li>          
		</ul>
	</div>
}
@section scripts {
	<script type="text/javascript">
		$(function () {
			$(".snow-series li").each(function() {
				if($('a', this).length) {
					$(this).addClass('link');
					$('a', this).prepend('<i class="fa fa-chevron-circle-right"></i> ')
				}
			});
		});
    </script>
}
<div class="post postcontent">
	<div class="row">
  		<div class="col-sm-6 col-sm-offset-3">
			<h1>
				@Model.Title
				<span>@Model.PostDate.ToString("dd MMM yyyy")</span>
			</h1>
			<p>
				@foreach (var category in Model.Categories) {
					<a class="btn btn-default btn-sm" href="/category/@category.Url"><i class="fa fa-tag"></i> @category.Name</a>
				}
			</p>
			@Html.RenderSeries()
				
			@Html.Raw(Model.PostContent)
		</div>
  		<div class="col-sm-4 col-sm-offset-4">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style addthis_custom">
				<a class="addthis_button_twitter"><i class="fa fa-twitter-square fa-3x"></i></a>
				<a class="addthis_button_facebook"><i class="fa fa-facebook-square fa-3x"></i></a>
				<a class="addthis_button_linkedin"><i class="fa fa-linkedin-square fa-3x"></i></a>
				<a class="addthis_button_googleplus"><i class="fa fa-google-plus-square fa-3x"></i></a>
				<a class="addthis_button_compact"><i class="fa fa-plus-square fa-3x"></i></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c82b2952baabb4"></script>
			<!-- AddThis Button END -->
		</div>
	</div>
</div>
@* <div class="post">
	<div class="row">
  		<div class="col-sm-8 col-sm-offset-2">
  			<h2>Written by Macs Dickinson</h2>
  			<p>Macs is a .Net developer with several experiance in the software industry. He is author of 
  			<a href="http://uniquify.it">Uniquify.it</a> - a unique password generator, 
  			<a href="http://www.quizimodo.net">Quizimodo.net</a> - an automated twitter quiz bot
  			and <a href="http://www.thencomesmarriage.co.uk">Then Comes Marriage</a> - a resource to 
  			ease the stress for couples planning a wedding. You can generally find him ranting about 
  			software and other less interesting things on <a href="https://twitter.com/MacsDickinson">twitter</a> and 
  			<a href="https://plus.google.com/u/0/+MacsDickinson?rel=author" rel="author">Google+</a>.</p>
		</div>
	</div>
</div> *@
<div class="post">
	<div class="row">
  		<div class="col-sm-8 col-sm-offset-2">
			<div id="disqus_thread"></div>
		    <script type="text/javascript">
		        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		        var disqus_shortname = 'macsenblog'; // required: replace example with your forum shortname

		        /* * * DON'T EDIT BELOW THIS LINE * * */
		        (function() {
		            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
		    </script>
		    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
	</div>
</div>