@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}
@section menu {	
	<ul class="sf-menu">
		<li><a href="/">Home</a></li>
		<li><a href="/projects">Projects</a></li>
		<li class="current"><a href="/categories">Categories</a></li>
		<li><a href="/archive">Archive</a></li>          
	</ul>
}
<h1><a href="/categories/">Categories</a> - @Model.Category.Name</h1>

<ul class="category-list">
  @foreach(var catInPost in Model.PostsInCategory){
    <li>
      <a href="@catInPost.Url" title="@catInPost.Title">@catInPost.Title</a> 
      <small>(@catInPost.Date.ToString("dd MMM yyyy"))</small>
    </li>
  }
</ul>

