@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}
@section menu {	
	<ul class="sf-menu">
		<li><a href="/">Blog</a></li>
		<li><a href="/projects">Projects</a></li>
		<li class="current"><a href="/categories">Categories</a></li>
		<li><a href="/archive">Archive</a></li>          
	</ul>
}

<div class="post">
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3 category">
        <h1>@Model.Category.Name</h1>
        @foreach(var catInPost in Model.PostsInCategory){
          <h2>
            <a href="@catInPost.Url" title="@catInPost.Title">@catInPost.Title</a>
            <span>@catInPost.Date.ToString("dd MMM yyyy")</span>
          </h2>
        }
        <h3><a href="/categories/"><i class="fa fa-chevron-circle-left"></i> Back to Categories</a></h3>
    </div>
  </div>
</div>
