@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}


@section menu {	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav sf-menu">
			<li><a href="/">Blog</a></li>
			<!--<li><a href="/projects">Projects</a></li>-->
			<li><a href="/categories">Categories</a></li>
			<li><a href="/archive">Archive</a></li>          
		</ul>
	</div>
}

@foreach(var draft in Model.Drafts) {
	<div class="post">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>
					<a href="@draft.Url">@draft.Title</a>
					<span>@draft.Date.ToString("dd MMM yyyy")</span>
				</h1>
				@* @Html.RenderSeries(draft) *@
				<p>
					@foreach (var category in draft.Categories) {
						<a class="btn btn-default btn-sm" href="/category/@category"><i class="fa fa-tag"></i> @category</a>
					}
				</p>
				@Html.Raw(draft.ContentExcerpt)
				<p class="read-more tk-ff-enzo-web"><a href="@draft.Url">&lt; Read More &gt;</a></p>
			</div>
		</div>
	</div>
}