@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

@section menu {	
	<ul class="sf-menu">
		<li class="current"><a href="/">Blog</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="/categories">Categories</a></li>
		<li><a href="/archive">Archive</a></li>          
	</ul>
}


@foreach(var postPaged in Model.PostsPaged) {
	<div class="post pad-bot">
		<div class="container_12">
			<div class="row">
				<div class="grid_12">
					<h2><a href="@postPaged.Url">@postPaged.Title</a></h2>
					<h3><a href="@postPaged.Url">@postPaged.Date.ToString("dd MMM yyyy")</a>
						@foreach (var category in postPaged.Categories) {
							<a class="btn btn-default btn-sm" href="/category/@category"><i class="fa fa-tag"></i> @category</a>
						}
					</h3>
					@Html.RenderSeries(postPaged)
					@Html.Raw(postPaged.ContentExcerpt)
					<p><a href="@postPaged.Url">Read more...</a></p>
				</div>
			</div>
		</div>
	</div>
}

  <!-- Pagination links -->
<div id="post-pagination" class="post">
	<div class="container_12">
		<div class="row">
			<div class="grid_12">
			@if (Model.HasPreviousPage) {
				if (Model.PreviousPage == 1) {
					<p class="previous">
						<h3><a href="/">Previous Page</a></h3>
					</p>
				}
				else {
					<p class="previous">
						<h3><a href="/page@(Model.PreviousPage)">Previous Page</a></h3>
					</p>
				}
			}
			@if (!Model.HasPreviousPage) {
			  <!--<a href="/">Previous Page</a>-->
			}
			@if (Model.HasNextPage) {
				<p class="previous">
					<h3><a href="/page@(Model.NextPage)">Next Page</a></h3>
				</p>
			}
			</div>
		</div>
	</div>
</div>

